/* 
   Lakeland Reeds Bed and Breakfast style sheet 
   Filename: styles.css

   Author:   
   Date:     
   HTML5 and CSS3 Illustrated Unit P, Lessons
 */

/* reset styles */
html {
   font-size: 16px;
}
a, article, body, div, fieldset, figcaption, figure, footer, form, header, h1, 
h2, h3, img, input, label, legend, li, nav, p, section, textarea, ul {
   border: 0;
   padding: 0;
   margin: 0;
}
img {
   max-width: 100%;
   height: auto;
   width: auto;
}
ul {
   list-style-type: none;
}

/* document-wide styles */
body {
   margin: 0 auto;
   font-family: Arial, Helvetica, sans-serif;
}
p {
   line-height: 1.4em;
   font-size: 1.3em;
}
a:link {
   color: black;
}
a:visited {
   color: #888;
}
.container {
   background-color: #B8944D;
   position: relative;
}

/* skip navigation link */
p.skipnavigation a {
   position: absolute;
   left: -10000px;
}
p.skipnavigation a:focus {
   color: ivory;
   background-color: #34180f;
   top: 0.4em;
   left: auto;
   right: 0.4em;
   z-index: 2;
}

/* header section */
h1 {
   text-align: center;
   font-family: Bitter, "Times New Roman", Times, serif;
   font-weight: 700;
   color: ivory;
   background-color: white;
   font-size: 2.4em;
}

/* site navigation bar */
nav {
   color: #34180f;
   text-align: center;
   background-color: #B8944D;
}
nav li {
   margin: 0.3em 1.5em;
   display: inline-block;
   font-size: 1.3em;
   line-height: 1.4em;
   position: relative;
}
nav a:link {
   text-decoration: none;
   color: #34180f;
}
nav a:visited {
   color: #744f42;
}
nav a:hover, nav a:focus {
   color: ivory;
}
.current_page:before {
   width: 60px; 
   height: 60px; 
   display: inline-block;
   position: absolute;
   top: -16px;
   left: -50px;
   content: url("images/nav_icon.gif");
}

/* main content */
article {
   margin: 0 auto;
   padding: 1.4em;
   background: #7eccec;
   background: url("images/water.jpg");
}
article div {
   max-width: 854px;
   margin: 0 auto;
   padding: 0 3% 1.4em;
   background-color: ivory;
   overflow: auto;
}
article div.no-heading {
   padding-top: 1.6em;
   font-size: 1.2em;
}
h2 {
   padding: 0.4em 0;
   text-align: center;
   font-family: Bitter, "Times New Roman", Times, serif;
   font-size: 2em;
   font-weight: 700;
}
h3 {
   margin-bottom: 0.6em;
   font-size: 1.6em;
   font-family: Bitter, "Times New Roman", Times, serif;
   font-weight: 700;
   float: left;
   clear: both;
}
section {
   margin-top: 1em;
   padding: 1em;
   overflow: auto;
   background-color: #ddd;
}
section p {
   margin: 1em 0;
   clear: left;
}
figure {
   max-width: 50%;
   margin-left: 2em;
   float: right;
}
figcaption {
   text-align: center;
}

/* form styles */
form {
   max-width: 400px;
   padding: 10px;
   margin: 0 auto;
}
.form-instructions {
   color: red;
   text-align: center;
}

/* fieldset styles */
fieldset {
   margin-bottom: 0.8em;
}
legend {
   font-size: 1.25em;
}

/* field styles */
input, textarea {
   border: 1px solid #ccc;
   padding: 0.2em;
   font-size: 1em;
   display: block;
}
.contactinfo input {
   width: 25em;
   margin-bottom: 0.6em;
}
textarea {
   width: 25em;
   height: auto;
}
#submit {
   border: none;
   padding: 0.4em 0.6em;
   margin: 0 auto;
   background-color: #e3d5ba;
   font-size: 1.25em;
   border-radius: 10px;
}

/* label styles */
label {
   margin: 0.8em 0;
   font-size: 1em;
   line-height: 1.6em;
   font-weight: bold;
}

/* footer section */
footer {
   padding: 0.6em;
   background-color: #34180f;
   color: ivory;
   text-align: center;
   line-height: 1.4em;
   font-size: 1em;
}
footer img {
   vertical-align: baseline;
}

/* print styles */
@media print {
   body, h1, article, footer {
      color: rgb(0,0,0);
      background: rgb(255,255,255);
   }
   body {
      max-width: 100%;
   }
   nav {
      display: none;
   }
}
@page {
   margin: 0.75in;
}